{% extends "article.html" %}

{% block title %}About us{% endblock %}

{% block article_title %}About us{% endblock %}

{% block img_url %}'/static/img/about_us.webp'{% endblock %}

{% block article_content %}Hangzhou Wenli Middle School is a renowned secondary school located in Hangzhou City, Zhejiang Province. The school adheres to the educational philosophy of "laying the foundation for a happy life for every child" and upholds the school motto of "Inspiring Ambition, Seeking Truth, Valuing Etiquette, and Promoting Goodness." It actively promotes the standardization, modernization, and normalization of school construction, continuously improving the quality of education, and has earned a favorable social reputation.{% endblock %}

{% block url %}'/facilities'{% endblock %}